.page {
    background-color: #0c115c;
}

.magazine {
    width: 1200px;
    position: relative;
    box-shadow: 0 4px 20px #8a7d54;
}

.arrow-left,
.arrow-right {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: #5a5454;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
}
.arrow-left {
    left: 20px;
}
.arrow-right {
    right: 20px;
}
.arrow-left:hover,
.arrow-right:hover {
    color: #211c1c;
}
